 @import "./header";

.current-list{
	border-left: 4px solid var(--primary) !important;
	background: #f4f4f4;

	span{
		color: var(--primary);
	}

	svg{

		path,
		line,
		rect,
		circle{
			stroke: var(--primary);
		}
	}
}


.list-box{

	.list{
		
		.first-list{
			@include padding-y(12px);
			@include padding-x(20px);
			box-sizing: border-box;
			transition: .3s ease;	

			span{
				margin-left: 8px;
			}

		}

		li{
			@include padding-y(12px);
			@include padding-x(20px);
			box-sizing: border-box;
			transition: .3s ease;
			border-left: 4px solid transparent;
					

			span{
				margin-left: 8px;
			}

			&:hover{
				border-left: 4px solid var(--primary);
				background: #f4f4f4;

				span{
					color: var(--primary);
				}

				svg{

					path,
					line,
					rect,
					circle{
						stroke: var(--primary);
					}
				}
			}
			
		}

	}
}


.row-1{

	.inner-row{
		padding-top: 155px;
		padding-bottom: 65px;
		float: left;
		width: 100%;

		.detail{
			flex-grow: 1;
			margin-left: 20px;

			.user-name{
				margin-bottom: 5px;
			}
		}

		.registered{
			margin-bottom: 25px;
		}
		
		.online{
			margin-right: 20px;


			.dots{
				width: 10px;
				height: 10px;
				float: left;
				background: #0404FF;
				border-radius: 100%;
				margin-right: 8px;
			}
		}
		
		.user-info{

			.img-upload{

			}

			.detail{

				.user-detail{
					float: left;

					.bio{
						box-sizing: border-box;
						@include padding-y(10px);
						@include padding-x(15px);
						border: 2px dashed #A1D3F5;
						color: #fff;
						@include placeholder(){
							color: #A1D3F5;
						};
						
					}
				}
			}
		}

		.rounded{
			width: 130px;
			height: 130px;
			border: 4px solid #fff;
			overflow: hidden;
			border-radius: 100%;

			#img_target{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			.plus{
				opacity: 0;
				transition: .3s ease;
			}

			&:hover{

				.plus{
					cursor: pointer;
					opacity: 1;
				}
			}
		}
	}
}



.chat-wrapper{
	max-height: 500px;
	min-height: 500px;
	

	.chat-right{

		.input-message{
			@include padding-y(8px);
			@include padding-x(15px);
			box-sizing: border-box;

			.inputtext{
				box-sizing: border-box;
				@include padding-x(10px);

				input{
					@include padding-y(8px);
				}
			}

			.send-message{
				@include padding-x(20px);
				@include padding-y(10px);
			}
		}
		.chat-scroll{
			@include padding-x(16px);
			box-sizing: border-box;
			height: 400px;


			.message-item{
				@include padding-y(5px);
				margin-top: 10px;


				.message-parent{
					float: left;
					box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
					max-width: 280px;
					background: #fff;
					box-sizing: border-box;
					padding-top: 15px;
					@include padding-x(10px);
					padding-bottom: 10px;
					border-top-left-radius:15px;
					border-top-right-radius:15px;
					border-bottom-right-radius:15px;
					color: #888;

					.message-text{
						font-size: 14px;
						font-family: lato;

					}

					.message-time{
						margin-top: 7px;
						float: right;
						font-size: 12px;
						font-family: lato;
					}
				}
			}

			.message-item.sent{

				@include padding-y(5px);
				margin-top: 10px;


				.message-parent{
					float: right;
					max-width: 280px;
					background: var(--primary);
					box-sizing: border-box;
					padding-top: 15px;
					@include padding-x(10px);
					padding-bottom: 10px;
					border-top-left-radius:15px;
					border-top-right-radius:15px;
					border-bottom-left-radius:15px;
					border-bottom-right-radius:0;
					color: #fff;

					.message-text{
						font-size: 14px;
						font-family: lato;

					}

					.message-time{
						margin-top: 7px;
						float: right;
						font-size: 12px;
						font-family: lato;
					}
				}
			}
		}

		.name-bar{
			padding: 15px;
			z-index: 9;

			.send-bar{

				span{
					margin-left: 8px;
				}
			}
		}
	}

	.chat-left{
		min-width: 280px;
		max-width: 280px;
		box-sizing: border-box;

		.chat-list{

			ul{
				.current-chat{
					border-left: 5px solid var(--primary);
					background-color: #f2f2f2;

				}

				li{
					cursor: pointer;
					transition: .2s ease;
					border-left: 5px solid transparent;
					padding-left: 10px;
					padding-right: 15px;
					@include padding-y(15px);

					&:hover{
						border-left: 5px solid var(--primary);
					background-color: #f2f2f2;

					}
					
					.sender-image{
						width: 35px;
						height: 35px;
						border-radius: 100%;
						object-fit: cover;
					}

					.message-sender{
						margin-left: 5px;
					}
				}
			}
		}
	}

	.search-chat{
		padding: 15px;
		background: #fff;

		.search-btn{
			@include padding-y(6px);
			@include padding-x(11px);
		}

		input{
			padding-left: 15px;
			padding-right: 8px;
			width: 100%;
			background-color: #f2f2f2;
		}
	}

	.chat-right{


	}
}


@include breakpoint-down(lg){

};

@include breakpoint-down(md){

};

@include breakpoint-down(sm){

};