@import "./header";

.list-box{

	.list{
		
		.first-list{
			@include padding-y(12px);
			@include padding-x(20px);
			box-sizing: border-box;
			transition: .3s ease;	

			span{
				margin-left: 8px;
			}

		}

		li{
			@include padding-y(12px);
			@include padding-x(20px);
			box-sizing: border-box;
			transition: .3s ease;
			border-left: 4px solid transparent;
					

			span{
				margin-left: 8px;
			}

			&:hover{
				border-left: 4px solid var(--primary);
				background: #f4f4f4;

				span{
					color: var(--primary);
				}

				svg{

					path,
					line,
					rect,
					circle{
						stroke: var(--primary);
					}
				}
			}
			
		}

	}
}

.create-discuss{
		background: #f2f2f2;


	.textarea-input{

		textarea{
			outline: none;
			padding-left: 18px;
			padding-top: 18px;
			width: 100%;
			resize: none;
			box-sizing: border-box;

		}
	}

	.media-input{
		@include padding-y(8px);
		@include padding-x(15px);

		ul{

			li{
				float: left;
				margin-right: 15px;
				
				label{
					cursor: pointer;

					img{


					}
				}
			}
		}
	}
}

.discussion-item{
	box-sizing: border-box;
	@include padding-x(20px);
	@include padding-y(14px);

	.pills{
		@include padding-y(4px);
		@include padding-x(10px);
		margin-right: 10px;
	}

	img.user-profile{

	}

	.clock{
		margin-right: 5px;
	}
	
}


.current-category{
	border-left: 4px solid var(--primary) !important;
	background: #f4f4f4;

	span{
		color: var(--primary);
	}

	svg{

		path,
		line,
		rect,
		circle{
			stroke: var(--primary);
		}
	}
}

.discussion{
	transition: .3s ease;
	//border-left: 10px solid transparent;
	
	&:hover{
		border-left: 10px solid var(--primary);
	}
}

@include breakpoint-down(lg){

};

@include breakpoint-down(md){

};

@include breakpoint-down(sm){

	.three{
		width: 100% !important;
		margin-bottom: 25px !important;
	}

	.col{
		margin-left: 0 !important;
	}

	.nine{
		width: 100% !important;
		margin-bottom: 25px !important;
	}

};