  @import "./header";

.popup-search{
	opacity: 0;
	transition: .3s ease;

}



.popup-search.active{
	opacity: 1;
	transition: .3s;
	background: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	position: fixed;
	z-index: 9999999999;

	.close-popup-wrapper{
		width: 10px;
		height: 10px;
		padding: 10px;
		background: var(--primary);
		position: absolute;
		top: 10%;
   		right: 10%;
   		display: flex;
   		border-radius: 100%;
   		cursor: pointer;

   		img{
   			width: 100%;
   		}
	}	

	.search-wrapper{
		width: 60%;

		.filter-wrapper{
			margin-top: 20px;
			
			input[type="radio"]:checked + label .rounded-checkbox {
   				 background-color: var(--primary);
   				 transition: .3s ease;
   			}


			ul{
				margin-top: 10px;
				list-style-type: none;


				li{
					padding-right: 20px;
					float: left;

					input{
						display: none;


					}



					.rounded-checkbox{
						cursor: pointer;
						margin-right: 4px;
						width: 18px;
						height: 18px;
						display: inline-block;
						border-radius: 100%;
						background: #ebebeb;
					}

					label{
						cursor: pointer;
						display: flex;
						align-items: center;

					}
				}
			}
		}


		.input-wrapper{
			position: relative;
			border-bottom: 1px solid var(--primary);

			input{
				outline: none;
				@include padding-y(10px);
				box-sizing: border-box;
				padding-right: 30px;

			}

			a{
				bottom: 5px;
				position: absolute;
				right: 0;
				cursor: pointer;
			}
		}
	}
}

.slide-content{
	margin-top: 20px;
}

.category-popup{
	display: none;
}

.category-popup.active{
	display: block;
		background: #f2f2f2;
		top: 0px;
		left: -15px;
		box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);




	.category-title{
		background: #fff;
		display: flex;
		align-items: center;
		@include padding-y(11px);
		padding-right: 10px;
		border-bottom: 1px solid #e7edf3;

		img{
			cursor: pointer;
		}

		span{
			margin-left: 57px;
			margin-right: 39px;
		}
	}

	.category-list{

		ul{

			li{
				display: flex;
				align-items: center;
				@include padding-y(5px);
				padding-left: 10px;
				clear: both;
				
				.rounded-category.active{
					background: var(--primary);
				}

				.rounded-category{
					margin-right: 5px;
					cursor: pointer;
					width: 15px;
					height: 15px;
					border-radius: 100%;
					border: 1px var(--primary) solid;
					display: inline-block;

					&:hover{
						background: var(--primary);
					}
				}
			}
		}

	}
}

.popup-notification{
	display: none;
}

.popup-notification.active{
	display: block;
	background: #fff;
	position: absolute;
	min-width: 425px;
	bottom: -165px;
    left: -400px;
    overflow: hidden;
    border-radius: 4px;
	box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
	z-index: 999999999999;
		box-sizing: border-box;


	.popup-title{
		width: 100%;
		padding: 12px 15px;
		box-sizing: border-box;
		border-bottom: 1px solid #e7edf3;
	}

	.notification-content{
		box-sizing: border-box;

		padding: 8px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 124px;

	}
}

.reply-button{
	float: right;
	cursor: pointer;
}

.language{
	display: none !important;
}

.discuss-only{
	margin-right: 17px;
	cursor: pointer;

}

.notification-trigger{
}

.notification-box{

}

.list-box{

	.list{
		
		.first-list{
			@include padding-y(12px);
			@include padding-x(20px);
			box-sizing: border-box;
			transition: .3s ease;	

			span{
				margin-left: 8px;
			}

		}

		li{
			@include padding-y(12px);
			@include padding-x(20px);
			box-sizing: border-box;
			transition: .3s ease;
			border-left: 4px solid transparent;
					

			span{
				margin-left: 8px;
			}

			&:hover{
				// border-left: 4px solid var(--primary);
				background: #f4f4f4;

				span{
					color: var(--primary);
				}

				svg{

					path,
					line,
					rect,
					circle{
						stroke: var(--primary);
					}
				}
			}
			
		}

	}
}

.create-discuss{
		background: #f2f2f2;


	.textarea-input{

		textarea{
			border-bottom: solid 1px #e0dede;
			outline: none;
			padding-left: 18px;
			padding-top: 18px;
			width: 100%;
			resize: none;
			box-sizing: border-box;

		}
	}

	.media-input{
		@include padding-y(8px);
		@include padding-x(15px);

		ul{

			li{
				float: left;
				margin-right: 15px;
				
				label{
					cursor: pointer;

					img{


					}
				}
			}
		}
	}
}

.reply{
	width: 95%;
	margin-top: 20px;	
	float: right;
}

.reply-wrapper{
	display: none;
}

.discussion-first{
	transition: .3s ease;
	//border-left: 10px solid transparent;
	
	&:hover{
		border-left: 10px solid var(--primary);
	}
}

.discussion-item{
		
	box-sizing: border-box;
	@include padding-x(20px);
	@include padding-y(14px);

	a{
		width: 100%;
	}

	.pills{
		@include padding-y(4px);
		@include padding-x(10px);
		margin-right: 10px;
	}

	img.user-profile{
		width: 40px;	
		margin-right: 8px;
		margin-bottom: 3px;
		border-radius: 100%;
		object-fit: cover;
	}

	.clock{
		margin-right: 5px;
	}
	

	.category-wrapper{

		button{

			&:hover{

				svg{

					path{
						transition: .3s ease;
						stroke: var(--primary) ;
					}
				}
			}
		}
	}
}


.current-category{
	border-left: 4px solid var(--primary) !important;
	background: #f4f4f4;

	span{
		color: var(--primary);
	}

	svg{

		path,
		line,
		rect,
		circle{
			stroke: var(--primary);
		}
	}
}

.discussion{

}

@include breakpoint-down(lg){

};

@include breakpoint-down(md){

};

@include breakpoint-down(sm){
	.category-wrapper{
		margin-top: 10px;
		float: left;
	}

	.three{
		width: 100% !important;
		margin-bottom: 25px !important;
	}

	.col{
		margin-left: 0 !important;
	}

	.nine{
		width: 100% !important;
		margin-bottom: 25px !important;
	}

}