@import "./header" ;

.box-3{
	margin-right: 15px;
	width: 350px !important;
}

.slick-row,
.slick-row-2{
	max-width: 1090px;
	float: left;
	overflow-x: hidden;
	margin-bottom: 30px;

}


.row-1{

	padding-bottom: 60px;
	padding-top: 50px;
	.container{
		padding-top: 50px;
	}

	.inner-row{
		padding-top: 22px;
		padding-bottom: 60px;

	}
}

.row-2{
	//margin-left: -13px;
	//@include padding-y(100px);

	@include padding-y(60px);

	.container{
		padding-top: 80px;
	}

	.inner-row{
		padding-top: 22px;
		padding-bottom: 60px;

	}
}