@import "./header" ;

.playbutton{
	z-index: 9999;
	align-self: center;
	cursor: pointer;

	&:hover{

		rect{
			fill: #5C95C4;
		}
	}
}

		#slider{
			justify-content: center;
			margin-bottom: 0px;
			width: 92%;
			position: relative;
			float: left;
			margin-top: 22px;
			height: 500px;
			
			
			
			
			
		
		}

	.dp-wrap {

		    width: 100%;

		    position: relative;
		    perspective: 1000px;
		    
		}
		.dp-slider {
		    height: 100%;
		   
		    position: absolute;
		    transform-style: preserve-3d;
		}
		.dp-slider div {
		    transform-style: preserve-3d;
		}
		.dp_item {
			width: 100%;
		    display: block;
		    position: absolute;
		    text-align: center;
		    color: #FFF;
		   
		    transition: transform 1.2s;
		}
		.dp-img img {
			width: 100%;
		 /*   border-left: 1px solid #fff;*/
		 height: 100%;
		}
		#dp-slider .dp_item:first-child {
		    z-index: 10 !important;
		    transform: rotateY(0deg) translateX(0px) !important;
		}
		.dp_item[data-position="2"] {
		    z-index: 9;
		    transform: rotateY(0deg) translateX(7%) scale(0.9);
		}
		.dp_item[data-position="3"] {
		    z-index: 8;
		    transform: rotateY(0deg) translateX(14%) scale(0.8);
		}
		.dp_item[data-position="4"] {
		    z-index: 7;
		    transform: rotateY(0deg) translateX(21%) scale(0.7);
		}
		#dp-next,
		#dp-prev {
		    position: absolute;
		    top: 50%;
		    right: 16%;
		    height: 33px;
		    width: 33px;
		    z-index: 10;
		    cursor: pointer;
		}
		#dp-prev {
		    left: 15px;
		    transform: rotate(180deg);
		}
		#dp-dots {
		    position: absolute;
		    bottom: 25px;
		    z-index: 12;
		    left: 38%;
		    cursor: default;
		}

		#dp-dots li {
		    display: inline-block;
		    width: 13px;
		    height: 13px;
		    background: #ffff;
		    border-radius: 50%;
		}
		#dp-dots li:hover {
			cursor: pointer;
			background: #FA8C8C;
			transition: background .3s;
		}
		#dp-dots li.active {
		    background: #FA8C8C;
		}
		.dp_item {
		 
		}
		.dp-content ,
		.dp-img {
		   	text-align: left;
		}
		.dp_item {
			display: flex;
			align-items: center;
			background: #fff;
			
			overflow: hidden;
			
		}
		.dp-content {
		    padding-left: 100px;
		    padding-right: 0;
		    display: inline-block;
		    width: 100%;
		}
		.dp-content h2 {
		    color: #41414B;
		    font-family: Circular Std Bold;
		    font-size: 48px;
		    max-width: 460px;
		    margin-top: 8px;
		    margin-bottom: 0px;
		}
		.dp-content p {
		    color: #74747F;
		    max-width: 490px;
		    margin-top: 15px;
		    font-size: 24px;
		}
		.dp-content .site-btn {
		   margin-top: 15px;
		   font-size: 13px;
		   padding: 19px 40px;
		}
		.dp-img:before {
		   /* background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
		    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
		    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
		    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));*/
		    content: "";
		    /*position: absolute;*/
		    height: 100%;
		    width: 25%;
		    z-index: 1;
		    top: 0;
		    pointer-events: none;
		   /* background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
		    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
		    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
		    background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));*/
		}

		.dp-img{
			width: 100%;
		}
		.dp-img img {
		    object-fit: cover;
		    object-position: right;
		}
		#dp-slider,
		.dp-img img {
		   width: 100%;
		}
		#dp-slider .dp_item:hover:not(:first-child) {
		    cursor: pointer;
		}
		.site-btn {
		  color: #fff;
		  font-size: 18px;
		  font-family: "Circular Std Medium";
		  background: #FA8282;
		  padding: 14px 43px;
		  display: inline-block;
		  border-radius: 2px;
		  position: relative;
		  top: -12px;
		  text-decoration: none;
		}
		.site-btn:hover{
		  text-decoration: none;
		  color: #fff;
		}
		h1 { margin: 150px auto 30px auto; text-align: center; }

.box-3{
	margin-right: 15px;
	width: 350px !important;
}

.slick-row,
.slick-row-2{
	max-width: 1090px; 
	float: left;
	overflow-x: hidden;
	margin-bottom: 30px;

}


.row-1{

	padding-bottom: 60px;
	padding-top: 50px;
	.container{
		padding-top: 50px;
	}

	.inner-row{
		padding-top: 22px;
		padding-bottom: 60px;

	}
}

.row-2{
	//margin-left: -13px;
	//@include padding-y(100px);

	@include padding-y(60px);

	.container{
		padding-top: 80px;
	}

	.inner-row{
		padding-top: 22px;
		padding-bottom: 60px;

	}
}

@include breakpoint-down(lg){
	.slick-row,
	.slick-row-2
	{
		max-width: 825px !important;
	}
	
	.box-3{
		width: 400px !important;
	}
};

@include breakpoint-down(md){
	.slick-row,
	.slick-row-2
	{
		max-width: 625px !important;
	}
	
	.box-3{
		width: 300px !important;
	}	
};

@include breakpoint-down(sm){
	.image-modalview-backdrop{

		.image-modalview{
			width: 80% !important;
		}
	}

	.video-backdrop{

		.video-popup{
			width: 80% !important;
		}
	}

	.normal-box{

	}

	.row-1{
		margin-bottom: 0px !important;
		z-index: 999;

		.container{
			padding-top: 0;

			.inner-row{
				padding-top: 0;
			}
		}
	}
	
	#slider{
		height: 130px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.row-2{
		position: relative;
	}

	.inner-row{
		z-index: 999;
	}

	.box-blue.res-none{
		top: 0;
		z-index:1;
		right: 0;
	}

	.dots-sm{
		z-index: 9999;
		float: left;
		margin-bottom: 10px;
	}

	.slick-row,
	.slick-row-2{
		position: relative;
		z-index: 99;
		max-width: 100% !important;
	}

	
	.box-3{
		width: 330px !important;
	}
};