@import "./header";


.banner{
	


	.banner-image-1{
		width: 100%;
		background-image: url('../images/bannerimg-1.png');
		background-size: 57%;
		background-repeat: no-repeat;
	}

	.banner-right{
		padding-bottom: 150px;
		padding-top: 190px;
		width: 55%;

	}

}

.inner-row{
	@include padding-y(60px);
	float: left;	
	position: relative;	
	width: 100%;
}

.date-wrapper{
	span{
		padding-left: 5px;
	}
}

.slick-list{
	padding-bottom: 10px !important	;	
	padding-top: 10px !important	;	
}

.slick-row{
	@include padding-y(20px);
	max-width: 1094px;		
	float: left;

	.outer-card{
		width: 261px !important;
		float: left;
		transition: 0.3s ease;
		position: relative;	
		display: inline;			

		&:hover{
			margin-top: -10px;
		}	

		@include margin-x(7.25px);

		&:first-child{
			margin-left: 0 !important;	
		}

		&:last-child{
			margin-right: 0 !important	;	
		}

		.card{
			width: 100%;
			background: #fff;
			float: left;
			box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 0px;
			
			.thumb-card{
				height: 100%;
			}
			
			.text-card{
				padding: 15px;
				
			}
		}
	}
}

.jumbotron{
	
	
	.user-detail{
		margin-left: 10px;

		img{
			margin-right: 5px;
		}
	}

	.text{
		margin-top: 15px;
	}
}

.row-3{

	.left-side{
		float: left;
		width: 50%;
		
		p, b{
			padding:0 120px 0 0px;
		}

		p{
			margin-top: 10px;
		}

		a{
			margin-top: 35px;
		}
	}

	.right-side{
		float: left;
		width: 50%;
	}

}

.diskusi-1{
	width: calc(50% - 8px);
	margin-right: 8px;
	padding-right: 30px;
}

.diskusi-2{
	margin-left: 8px;
	width: calc(50% - 8px);
	padding-right: 30px;
	
}

.inspirasi-1,
.inspirasi-2{
	margin-right: 18px;
}

.inspirasi-1,
.inspirasi-2,
.inspirasi-3{
	padding: 30px;
}

.row-5{
	
	.title{
		padding-bottom: 15px;
	}

		

	.left-side{
		width: 50% !important;
	}

	.right-side{
		width: 50% !important;
		padding-left: 60px;

		p{
			margin-bottom: 15px;
			
		}
	}

}

.row-6{
	
	margin-bottom: 50px;

	.box-3{
		
		&:first-child{
			margin-right: 15px;
		}

		&:last-child{
			margin-left: 15px;
		}
	}
}

@include breakpoint-down(sm){
	.banner{

		.banner-image-1{
			background-image: url('../images/bannerimg-2.png');
			background-size: 100%;
		}

		.banner-right{
			width: 100%;
			padding-top: 120px !important;
			padding-bottom: 0 !important;
			
			.bg-white{
			padding: 15px;

			}

			b{
				font-size: 14px !important;
			}

			p{

				font-size: 12px !important;
			}

			.btn-responsive{
				margin-top: 15px;	
			}
		}
	}

	.slick-row{
		max-width: calc(100% + 8px);

		.outer-card{
			width: 291px !important;
			@include margin-x(15px);
		}
	}

	.row-2{
		

		.dots-ml{
			margin-bottom: 8px;
		}

		.inner-row{
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			vertical-align: middle;
			align-items: center;
		}

		.diskusi-1{
			@include margin-y(50px);
			width: 100%;
			z-index: 1;
			
			.text{
				p{
					font-size: 12px;
				}
			}

		}
	}

	.btn-more{
			margin-top: 0 !important	;
		}

	.row-3{

		.inner-row{
			flex-direction: row;
		}
	}

	.row-4{

		.inner-row{
			
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			vertical-align: middle;
			align-items: center;
		}
	}

	.secondary-text{
		font-size: 12px !important;
	}

	.dots-ml{
		margin-left: 0 !important;	
		margin-bottom: 8px !important	;	
	}

	.inspirasi-1{
		width: calc(100%) !important;
		@include margin-y(50px); 
	}


	.inspirasi-2,
	.inspirasi-3{
		display: none;	
	}

	.row-5{

		.left-side{

		}

		.right-side{
			padding-left: 10px;

			.btn{
				@include padding-y(8px);
				@include padding-x(10px);
			}
		}
	}

	.row-6{

		.inner-row{
			@include padding-y(40px);
			z-index: 1;
		}

		.dots-mr{
			margin-right: 0;	
		}

		.box-3{
				
			img{
				width: 100%;	
			}

			width: calc(100%);
			margin-right: 0 !important	;	

			&:last-child{
				display: none;	
			}

			&:first-child{
				margin-bottom: 15px;	
			}
		}
	}


};