@import "./header";

.card-text{
	display: block;
	@include padding-y(13px);
	@include padding-x(15px);
	margin-left:-15px;
	display: inline-block;	
	z-index: 3;

	a{
		margin-top: 5px;
	} 

	.pills{
		margin-bottom: 5px;
	}

	.card-info{
		@include margin-y(4px);

		span{
	
			&:nth-child(3){
				margin-left: 10px;
			}
		}
	}
}

.search-box{
	height: 40px;


	input{
		padding-left: 15px;
		border: none;

	}

	.search-icon{
		padding: 10px;
	}
}

.category{
	padding: 16px;

	ul{
		margin-top: 7.5px;
		li{
			list-style: none;
			@include padding-y(7.5px);
			
			a{
				text-decoration: none;
				color: var(--grey);
			}

			.active{
				color: var(--primary);
			}
		}
	}
}