@import "./header";


.card{

	img.bring-back{
		width: 44%;
		height: 265px;
		object-fit: cover;
	}
}

.card-text{
	display: block;
	@include padding-y(13px);
	@include padding-x(15px);
	margin-left:-15px;
	display: inline-block;	
	z-index: 3;
	box-sizing: border-box;
	min-height: 246px;

	a{
		margin-top: 20px;
	} 

	.pills{
		margin-bottom: 5px;
	}

	.card-info{
		@include margin-y(4px);

		span{
	
			&:nth-child(3){
				margin-left: 10px;
			}
		}
	}
}

.search-box{
	height: 40px;


	input{
		padding-left: 15px;
		border: none;

	}

	.search-icon{
		padding: 10px;
	}
}

.category{
	padding: 16px;

	ul{
		margin-top: 7.5px;
		li{
			list-style: none;
			@include padding-y(7.5px);
			
			a{
				text-decoration: none;
				color: var(--grey);
			}

			.active{
				color: var(--primary);
			}
		}
	}
}

.res-none{
	display: none !important	;	
}

.res-block{
	display: block !important;	
}



@include breakpoint-down(md){

	.res-none{
		display: block !important	;	
	}

	.res-block{
		display: none !important;	
	}

	.three{
		width: 100% !important;
	}

	.nine{
		width: 100% !important;
	}

	.card{


	}
};

@include breakpoint-down(sm){

	.pagination{

		ul{

			li{

				a{

					.paginate-item{
						padding: 9px 11px 9px 11px !important;
					}
				}
			}
		}
	}
	
	.dots-sm{
			margin-top: 35px !important;
		}

	.clearfix{
		margin-bottom: 10px !important;
	}

	.card{

		.card-inside{
			flex-direction: column;
			
			.card-text{
				width: 85%;
				margin: -80px auto 0 auto;

				.pills{
					font-size: 11px;
				}

				.f-18{
					font-size: 15px;
				}

				.f-12{
					font-size: 10px;
				}

				.text-card{
					p{
						font-size: 14px;
					}
				}

				.btn{
					font-size: 11px;
					margin-top: 15px;
				}
			}

			.news-thumb{	

				width: 100%;
			}
		}
	}
};