@import "./header";

.checklist{
	@include padding-y(7.5px);

	span{
		margin-left: 13px;
	}


}

.checklist-1{
	padding-top: 15px;
}

.checkbox-2{
		@include padding-y(25px);

	span{
		color: #555555;
	}


}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	float: left;
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #e8e8e8;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 19px;
	height: 19px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--primary);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 20px;
}

.checkbox-1{
	@include padding-y(25px);

	span{
		color: #555555;
		margin-left: 13px;
	}


}

.change-pass{
	@include padding-y(9px);
	@include padding-x(12px);
	background: #f2f2f2;
	transition: .2s ease;

	&:hover{
		background: #e3e3e3;

	}
}

.list-bg{
	width: 100%;
	background: #f2f2f2;
	display: flex;
	align-items: center;
	vertical-align: middle;
	@include padding-y(14px);
	@include padding-x(16px);
	box-sizing: border-box;
	border-bottom: 1px solid #fff;
}

.list-first{
	display: flex;
}

.list-item{

	.list-title{
		color: #555555;
	}

	.list-icon{
		margin-right: 25px;
	}

	.check-toggle{
		cursor: pointer;
	}

	.check-right{
		float: left;
		padding-right: 6px;
		
		img{
			height: 14px;
			width: 14px;
		}
	}

	.check-left{
		float: left;
		padding-right: 40px;

		img{
			height: 14px;
			width: 14px;
		}
	}
}

.list-icon{

	img{
		width: 22px;
		height: 22px;
	}
}

.notify-to{
	float: left;
	margin-left: 25px;
	display: flex;
	flex-direction: column;

	img{
		margin-bottom: 5px;
	}

	&:nth-child(2){

		img{
			margin-bottom: 10px;
		}
	}

}