 @import "./header";

.backdrop{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	transition: .2s ease;

}

.small-gallery{
	display: flex;

	img{
		width: 100%;
	}
}

.image-modalview-backdrop.active{
	opacity: 1;
	transition: .3s ease;
	z-index: 99999999;
}


.img-hover{
	background: rgba(#000, 0.3);
	opacity: 0;
	transition: .3s ease;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	cursor: pointer;

	&:hover{
		opacity: 1;
	}
}
.close-popup{
	background: #fff;
	width: 15px;
	height: 15px;
	padding: 5px;
	border-radius: 100%;

	top: -10px;
	right: -10px;	
	cursor: pointer;

	img{
		width: 100%;
	}
}

.image-modalview-backdrop{
	transition: .3s ease;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -999;
	cursor: pointer;
	background: rgba(#000, 0.5);


	.image-modalview{
		display: flex;
		width: 60%;
		z-index: 999999999999999;
		cursor: auto;
	}
}

.backdrop.active{
	z-index: 99;
	background: rgba(0,0,0,.5);
	transition: .2s ease;
}



html , body {
	padding:0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	background-image: url('../images/pr.png');
	background-repeat: repeat-y;
	background-color: #FAFAFA;
	background-position: center;

}

.lazy{
	background-image: url('../images/loader.svg');
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100% !important;
    background-position: 50% 50%;
}

.slide-trigger{

	button{
		outline: none;
		background: none;
	}
} 

.input-data{
	background: #f2f2f2;
	@include padding-y(8px);
	@include padding-x(15px);

	.camera{

	}

	.input-text{

		input{
			background: none;
			padding-left:5px;
			padding-right: 5px;
		}
	}
}


.love.active{

	svg{

		path{
			fill: var(--primary) !important;

		}
	}
}

//Responsive styling
.res-none{
	display: none;
}

.logo-res{

}

.m-0-auto{
	margin: 0 auto;
}

.box-shadow-semibold{
		box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 0px;
}

.box-shadow-thin{
	    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;

}

.text-decoration-n{
	text-decoration: none;

}

#logo-text{
	margin-top: 4%;
	display: inline-block;
	margin-left: 5px;
}

//Cursor
.cs-p{
	cursor: pointer;
}

//Border
.bd-n{
	border: none;
}

//Pills
.pills{
	border-radius: 50px;
}

.pills-sm{
	@include padding-x(24px);
	@include padding-y(4px);
}

//Clearfix
.cf{
	&:before,
	&:after{
		content:"";
		display: table;	
	}

	*zoom:1;
	&:after{
		clear: both;
	}

}


//Border Radius
.bd-r-100{
	border-radius: 100%; 
}


//Grid

.twelve { width: 100%; }
.eleven { width: 91.53%; }
.ten { width: 83.06%; }
.nine { width: 74.6%; }
.eight { width: 66.13%; }
.seven { width: 57.66%; }
.six { width: 49.2%; }
.five { width: 40.73%; }
.four { width: 32.26%; }
.three { width: 23.8%; }
.two { width: 15.33%; }
.one { width: 6.866%; }

//Column
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;

	&:nth-of-type(1) {
  		margin-left: 0 !important;
	}
}


a {
	display: inline-block;
}

.ov-h{
	overflow: hidden;
}

.b-box{
	box-sizing: border-box;
}

.top{
	top: 0;
}

.bottom{
	bottom: 0;
}

.left{
	left: 0;
}

.right{
	right: 0;
}

@for $i from 1 through 50 {
	.z-#{$i}{
		z-index: #{$i};
	}
}

.btn-blue{
	background-color: var(--primary);
	text-decoration: none;
	font-family: lato;
	font-size: 14px;
	color: var(--white);
	@include padding-x(31px);
	@include padding-y(11px);

	&:hover{
		background: #5C95C4;
	}
}

.btn-blue-sm{
	background-color: var(--primary);
	text-decoration: none;
	font-family: lato;
	font-size: 11px;
	color: var(--white);
	@include padding-x(13px);
	@include padding-y(9px);
	margin-top: 20px;

	&:hover{
		background: #5C95C4;
	}
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.text-center{
	text-align: center;	
}

.container{
	width: 100%;
	max-width: 81%;
	margin: 0 auto;
	position: relative;
}

//Text color
.text-white{
	color: var(--white);
}

.text-primary{
	color: var(--primary);
}


//Background color
.bg-none{
	background: none;
}

.bg-darkgreen{
	background: var(--darken-green);
}

.bg-darkyellow{
	background: var(--darken-yellow);
}

.bg-darkblue{
	background: var(--darken-blue);
}

.bg-white{
	background: #fff;
}

.bg-primary{
	background: var(--primary);
}

.bg-black{
	background: #000;
}


@for $i from 5 through 40 {

	  .f-#{$i} {
	    font-size: #{$i}px;
	  }
}

ul.horizontal-list{
	list-style-type: none;
	li{
		float: left;
		
	}
}

.dots-sm{
	position: relative;	
	
	&:before{
		content: '';
		top: -25px;
		z-index: -1;
		position: absolute;
		width: 38px;	
		height: 38px;
		background-repeat: no-repeat;
		display: block;
		background-image: url('../images/dots-sm.svg');
	}

}

.current-page{

	&:after {
    content: "";
    background: var(--primary);
    position: absolute;
    bottom: -10px !important;
    left: 0;
    height: 1px;
    width: 100% !important;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}
}

.secondary-text{
	max-width: 430px;
}

.pt-0{
	padding-top: 0;
}

.pb-0{
	padding-bottom: 0;
}

.pl-0{
	padding-left: 0;
}

.pr-0{
	padding-right: 0;
}

.mt-10{
	margin-top: 10px;
}

.mb-10{
	margin-bottom: 10px;
}

.mb-60{
	margin-bottom: 60px;
}

.my-10{
	@include margin-y(10px);
}

.mx-10{
	@include margin-x(10px);
}


.mt-0{
	margin-top: 0 !important;
}

.mt-60{
	margin-top: 60px;
}

.mb-0{
	margin-bottom: 0;
}

.ml-0{
	margin-left: 0 !important;
}

.mr-0{
	margin-right: 0;
}

.ml-30{
	margin-left: 30px;
}

.mr-30{
	margin-right: 30px;
}

.mr-20{
	margin-right:20px;
}

.mt-30{
	margin-top: 30px;
}

.my-30{
	margin-top: 30px;
	margin-bottom: 30px;
}

.mb-30{
	margin-bottom: 30px;
}

.mb-35{
	margin-bottom: 35px;
}

.mx-30{
	margin-right: 30px;
	margin-left: 30px;
}

.my-60{
	margin-top: 60px;
	margin-bottom: 60px;
}

.mt-16{
	margin-top: 16px;	
}

.my-16{
	@include margin-y(16px);
}

.mb-16{
	margin-bottom: 16px;	
}

.mt-35{
	margin-top: 35px;	
}

.my-35{
	@include margin-y(35px);
}

.mb-35{
	margin-bottom: 35px;	
}

.mt-40{
	margin-top: 40px;	
}

.my-40{
	@include margin-y(40px);
}

.mb-40{
	margin-bottom: 40px;	
}

.py-60{
	@include padding-y(60px);
}

.py-30{
	@include padding-y(30px);
}

.py-0{
	@include padding-y(0px);
}

.px-30{
	@include padding-x(30px);
}

.pt-120{
	padding-top: 120px;
}

.pb-120{
	padding-bottom: 120px;
}

.py-50{
	@include padding-y(50px);
}

.py-10{
	@include padding-y(10px);
}

.py-15{
	@include padding-y(15px);
}

.mt-40{
	margin-top: 40px;	
}

.w-50{
	width: 50%;	
}

.w-100{
	width: 100%;
}

.h-50{
	height: 50%;
}

.h-100{
	height: 100%;
}

.clearfix{
	clear: both;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}

.ol-none{
	outline: none;
}

//Displays
.d-ib{
	display: inline-block;
}

.d-inline{
	display: inline;
}

.d-flex{
	display: flex;
}

.d-block{
	display: block;
}

.d-none{
	display: none;
}

.pos-f{
	position: fixed;
}

.pos-a{
	position: absolute;
}

.pos-r{
	position: relative;
}

.bring-front{
	z-index: 999999999;
}

.bring-front-1{
	z-index: 3;
}


.bring-back{
	z-index: 0;
}

.bring-back-1{
	z-index: -1;
}

.f-playfair{
	font-family: playfair-regular;
}

.f-playfair-bold{
	font-family: playfair-bold;

}

.f-lato{
	font-family: lato;
}

.f-grey{
	color: #888888;
}

.f-black{
	color: #000000;
}

.f-darken-grey{
	color: var(--darken-grey);
}

.f-white{
	color: #fff;
}

.f-black{
	color: #000;
}

.f-primary{
	color: var(--primary);
}


.no-decoration{
	text-decoration: none;
}

.list-style-none{
	list-style: none;
}

.line-h{
	width: 100%;
	height: 1px;
	background: #eaeaea;
	display: block;
	float: left;
}

.row{
	//overflow: hidden;
	width: 100%;
}

.logo-top{

		img{
			
		}
		
		a{

		}
	}

//Hamburger
.hamburger .line{
  
  width: 35px;
  height: 5px;
  background-color: #000;
  display: none;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

.flag-lang{
	margin-right: 5px;
}

#hamburger-11{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: scale(0.7);
}

#hamburger-11.is-active{
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig{
  0%, 100%{
    transform: scale(0.7);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburger-11.is-active .line:nth-child(1),
#hamburger-11.is-active .line:nth-child(2),
#hamburger-11.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger-11.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-11.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-11.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

header{


	
		
		@include padding-y(3px);
		width: 100%;
		position: fixed;
		z-index: 99999;
		background: #fff !important;
	
		@include box-shadow( 0px 1px 3px 0 rgba(0,0,0,.2));

	img{
		padding-top: 8px;
	}

	.user-image{
		border-radius: 100%;
		width: 45px;
	}

	.nav{

		@include padding-y(20px);	
		list-style:none;
		padding-left: 23px;
		 
		
		li{
			float: left;
			@include padding-x(16px);

			.current-page{
				&:after{
					content:""; 
					background: var(--primary); 
				  	position: absolute; 
				  	bottom: -10px !important; 
				  	left: 0; 
				  	height: 2px; 
				  	width: 100% !important;
				  	transition: .4s ease;
				  }
			}

			a.current-page{
			  
				 	color: var(--primary);
			
			}


			a{
				text-decoration: none;
				font-family: lato;
				font-size: 15px;
				color: var(--black);
				text-decoration: none;
				transition: .3s;
				position: relative;
				&:hover{
					color:var(--primary);
					border-color: var(--primary) !important;
				}

				&:after{
					content:""; 
					background: var(--primary); 
				  	position: absolute; 
				  	bottom: -10px; 
				  	left: 0; 
				  	height: 2px; 
				  	width: 0%;
				  	transition: .4s ease;
				}

				&:hover:after{
					width: 100%;
				}
			}

		}
	}

	.nav-right{

		list-style:none;
		display: flex;
		 
		.language{
			margin-right: 10px;
		}
		
		li.popup-trigger{
			float: left;
			display: flex;
			// &:nth-child(1){
			// 	@include padding-y(10px);
			// }
			a{
			cursor: pointer;
				
			}

			&:nth-child(2){
				margin-right: 15px;
				margin-left: 5px;
			}
		}
	}
}

.popup-trigger{
	position: relative;

	.popup-content{

		
	}
}


.popup-profile{
	bottom: -205px !important;
	width: 200px;
	background: #900;
	left: -150px;
	.list{

		border-right: 1px solid #eaeaea;
		border-top: 1px solid #eaeaea;
		border-left: 1px solid #eaeaea;
		@include box-shadow( 0px 5px 10px 0 #eaeaea);

		ul{
			list-style-type: none;

			li{
				border-bottom: 1px #eaeaea solid;
				@include padding-x(20px);
				@include padding-y(10px);	
				
				&:nth-child(1){
					background-color: var(--primary) !important;
					opacity: 1;
				}
	
				a{
					font-family:lato;
					text-decoration: none;
					color: #333;	
				}
			}
		}
	}

}

footer{
	box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.1);
	background: #fff;
	float: left;

	.inner-footer{
		@include padding-x(47px);
		padding-top: 50px;	
		float: left;

		.footer-desc{
			float: left;
			max-width: 300px;

			p{
				margin-top: 22px;
				font-family: lato;
				font-size: 14px;
				color: #888888;
			}


		}
	
		.footer-desc-left{
			p{
				margin-top: 35px;
				max-width: 206px;
				margin-bottom: 20px;
			}
		}
	
		.footer-list{
			width: 197px;
			display: flex;
			align-items: center;
			justify-content: center;
			float: left;
			flex-direction: column;
			
			
			b{
				margin-bottom: 35px;
			}

			ul{
				

				
				li{
					

					a{
						text-decoration: none;
						color: #888888;
						font-family: lato;
						font-size: 14px;
					}
				}
			}
		}
	}
}

.social-media{
	margin-top: 23px;
	margin-bottom: 19px;
	float: left;
	li{
		@include padding-x(5px);
		display: flex;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
	}
}

.flags{
	position: absolute;
    min-width: 60px;
    top: 40px;
    right: -22px;
    -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    z-index: 99999;

    a{
  		background-color: #fff;
		text-decoration: none;
		font-family: lato;
		color: #000;
    	width: 100%;
    	display: flex;
    	vertical-align: middle;
    	align-items: center;
		@include padding-x(8px);
		@include padding-y(5px);

    	img{
    		margin-right: 15px;
    		width: 20px;
    	}

    	&:hover{
    background-color: #e6e6e6;

    	}
    }
}

.box-blue{
	background: var(--primary);
	position: absolute;
}

.last-box{
	width:11%;
	height: 50%;
}

.normal-box{
	width:16%;
	height: 400px;
}

.dots-ml{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 100px;
}

.dots-mr{

	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 100px;

	.dots-sm{

		&:before{
		right: 0;
		
		}
	}
}

.jumbotron{
	padding-top: 35px;
	padding-left: 38px;
	box-sizing: border-box;
	padding-bottom: 40px;
}

.btn-more{
	margin: 35px auto 0 auto;
}

//Margin auto
.ml-auto{
	margin-left: auto;	
}

.mr-auto{
	margin-right: auto;	
}



//Flexbox

.flex-center{
	display: flex;	
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.flex-row{
	flex-direction: row;
}

.flex-column{
	flex-direction: column;
}

.justify-content-center{
	justify-content: center;
}

.align-items-start{
	align-items: flex-start;
}

.align-items-end{
	align-items: flex-end;
}

.align-items-center{
	align-items: center;
}

.align-items-baseline{
	align-items: baseline;
}

.align-items-stretch{
	align-items: stretch;
}

.align-self-start{
	align-self: flex-start;
}

.align-self-end{
	align-self: flex-end;
}

.align-self-center{
	align-self: center;
}

.align-self-baseline{
	align-self: baseline;
}

.align-self-stretch{
	align-self: stretch;
}

.align-content-start{
	align-content: flex-start;
}

.align-content-end{
	align-content: flex-end;
}

.align-content-center{
	align-content: center;
}

.align-content-baseline{
	align-content: baseline;
}

.align-content-stretch{
	align-content: stretch;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-nowrap{
	flex-wrap: nowrap;
}

@for $i from 1 through 15 {

	  .order-#{$i} {
	    order: #{$i};
	  }
}

.box-3{
	width: calc(100% / 3 - 15px);

}

//Navbar

.navbar-dropdown.actived{
	left: 0;
	
	bottom: 0;	
	transition: .5s ease;

	ul{
		overflow-y: auto;
		height: 75vh;
	}
}

.navbar-dropdown{
	top: 53px;
	left:-100%;
	transition: .5s ease;

	.flags{

		top: 10px;
		right: unset;

	}
	.first-item{
		padding-left: 25px;
			background: var(--primary) ;

			@include padding-y(7px);
			padding-right: 135px;

			a{
				text-decoration: none;
			}

			img{
				width: 40px;
				height: 40px;
				border-radius: 100%;
				object-fit: cover;
			}

			span{
				color: 	#333333;
				margin-left: 8px;
			}
		}

	ul{
		height: 200vh;
		overflow: auto;

		li{
			padding-left: 15px;

			a{
				text-decoration: none;
			}

		}

		

		.list-item{
			box-sizing: border-box;
			padding-left: 25px;
			@include padding-y(15px);
			border-bottom: 1px solid rgba(0,0,0,0.1);

			a{
				color: var(--grey);

			}
		}
	}
}

.pagination{

	ul{
		list-style-type: none;
		display: flex;	


		li{
			float: left;	

			a{
				text-decoration: none;
					color: var(--grey);


				.paginate-item{
					background: #e4e4e4;
					@include padding-x(16px);
					@include padding-y(12px);
					display: flex;	
					justify-content: center;
					align-items: center;
					vertical-align: middle;
					margin-right: 5px;	

					img{
						height: 19px;	
					}

				}
			}

			.paginate-active{
				color: #fff;

				.paginate-item{
				background: var(--primary);

				}
			}

		}
	}


}


@include breakpoint-down(md){
	footer{

		.inner-footer{
			padding-right: 0 !important;
			padding-left: 30px !important;

			.footer-desc{
				max-width: 184px !important;
			}
		}
	};
}

@include breakpoint-down(lg){
	.banner{
		margin-top: 50px;
		display: flex;	
		vertical-align: middle;
		align-items: center;
		justify-content: center;

		.banner-right{
			@include padding-y(50px);
		}
	}

	ul.nav{
		display: none;
	}
		
	.logo-top{
		
		img{
			margin-top: 4px;	
			padding: 0;	
		}


	}

	.header{
		
		
	}

	.hamburger{
		float: right;	
		.line{
			display: block;
		}
	}

	.nav-right{
		display: none !important;
	}

	.slick-row{
		max-width: 820px ;
	}

	.footer{

		.inner-footer{

			.footer-desc{
				max-width: 295px;
			}

			.footer-list{
				max-width: 112px;
			}
		}
	}
}


@include breakpoint-down(sm){
	.pagination{
		margin-top: 15px;
	}

	.title{
		font-size: 16px;
	}

	.normal-box{
		width: 20%;
	}
	
	#logo-text{
		margin-top: 0%;
	}

	.logo-top{

		img{
			width: 30px;
		}
	}

	.row-1{

		.inner-row{
			padding-top: 50px;

			.secondary-text{
				font-size: 13px !important;
			}
		}
	}

	.dots-sm{
		font-size: 15px;
		
		&:before{
			top: -5px;
			width: 25px;
			height: 25px;
			background-size: 100%;
			background-image: url('../images/small-dots.svg');
		}

	}

	.btn-responsive{

		@include padding-x(9px);
		@include padding-y(6px);
		font-size: 12px;
	}

	.res-block{
		display: none;
	}

	.res-none{
		display: block;
	}

	.made-by{
		margin-top: 6px;
	}

	footer{

		.line-h{
			margin-top: 20px;
			display: inline-block;

		}

		.inner-footer{
			padding: 25px 55px 14px 21px;

			.footer-list{
				max-width: 50% !important;
				display: unset;
				@include margin-y(8px);
				ul{
					margin-top: 8px;

					li{

						@include padding-y(5px);
					}
				}
			}

			.footer-desc{
				margin-top: 13px;
				max-width: 100%;
				p{
					margin-top: 10px;
				}
			}
		}


		.last-box{
			width: 36px;
		}
	}
};


