@import "./header";

.share-wrapper{
	bottom: -365px !important;
    right: 265px;
}

.slide-content{
	
}

.user-profile{
		width: 50px;	
		margin-bottom: 10px;
		border-radius: 100%;
		object-fit: cover;
	}

.content-box{
	padding-top: 35px;
	padding-bottom: 28px;
	@include padding-x(38px);
	float: left;

	.content-thumb{
		margin-top: 20px;
	}
}

.sender{
	padding-bottom: 30px;
}

.name{
	margin-left: 12px;

	.username{
		margin-bottom: 5px;
	}
}

.author{
	margin-left: 18px;
}

.line{
	width: 100%;
	height: 1px;
	background: var(--darken-grey);
	margin-top: 30px;
}

.misc{
	margin-top: 25px;
	
	ul{
		float: right;

		li{
			float: left;
			padding-left: 30px;

			img{

			}
		}
	}
}



.discussion-item{
	box-sizing: border-box;
	@include padding-x(20px);
	@include padding-y(14px);

	.pills{
		@include padding-y(4px);
		@include padding-x(10px);
		margin-right: 10px;
	}

	img.user-profile{
		width: 50px;	
		border-radius: 100%;
	}

	.clock{
		margin-right: 5px;
	}

	.love{
		margin-top: 17px;
	}
	


}

@include breakpoint-down(lg){

};

@include breakpoint-down(md){

};

@include breakpoint-down(sm){

	.content-box{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}