@import "./header";

.news-wrapper{

}



.news-text{
	padding: 20px 30px;
}

#writer{
	margin-left: 20px;
	display: inline-block;
}

.love-btn{
	background:transparent;
	border: none;
	outline: none;


	.love.active{

		svg{

			path{
				fill: var(--primary);
			}
		}
	}
}

@keyframes fixing-size{
	from{
		width: 49.9px;
	}

	to{
		width: 50px;
	}
}

.random-news{
	@include padding-x(16px);
	padding-top: 16px;

	.dots-sm{
		z-index: 88;
	}

	.list-wrapper{
		margin-top: 20px;
		
		.list-item{
		
			.item{

				img{
					width: 50px;
					height: 50px;
					animation-name: fixing-size;
  					animation-duration: 2000s;
  					object-fit: cover;
				}



				span{
					margin-left: 5px;
				}
			}

			.line{
				 width: 100%;
    height: 1px;
    background: #e8e8e8;
    margin-top: 8px;
    margin-bottom: 8px;
			}
		}
	}
}

@include breakpoint-down(md){

	.col{
		margin-left: 0 !important;
	}

	.search-box{
		margin-top: 30px !important;
	}

	.category{
		margin-top: 30px !important;
	}

	.random-news{

		margin-top: 30px !important;
		margin-bottom: 30px !important;
	}
};

@include breakpoint-down(sm){
	
	#title{
		font-size: 16px;
	}

	.seven{
		width: 100% !important;
	}

	#time,
	#writer{
		font-size: 12px;
	}

	#writer{
		margin-left: auto;
	}

	#desc{
		font-size: 14px;	
	}

	.dots-sm{
		font-size: 20px !important;
	}

	.random-news{
		padding-top: 1px !important;
	}
};