@import "./header";

.news-wrapper{

}

.news-text{
	padding: 20px 30px;
}

#writer{
	margin-left: 20px;
	display: inline-block;
}

.love-btn{
	background:transparent;
	border: none;
	outline: none;


	.love.active{

		svg{

			path{
				fill: var(--primary);
			}
		}
	}
}

.random-news{
	@include padding-x(26px);
	padding-top: 55px;


	.list-wrapper{


		.list-item{


			.item{

				img{

				}

				span{
					margin-left: 5px;
				}
			}

			.line{

			}
		}
	}
}