@import 'function';

:root{
	--primary : #1592E6;
	--white : #ffffff;
	--black : #000000;
	--grey : #888888;
	--darken-grey : #707070;
	--darken-green: #0B8457;
	--darken-yellow: #E2BA00;
	--darken-blue: #10316B;
	--darken-white:#f2f2f2;
}

/*
 Fonts Import
*/

//Lato
@font-face{
	font-family: lato-regular;
	src:url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face{
	font-family: lato-bold;
	src:url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face{
	font-family: lato-light;
	src:url('../fonts/Lato/Lato-light.ttf');
}

@font-face{
	font-family: lato-italic;
	src:url('../fonts/Lato/Lato-italic.ttf');
}


//Playfair Display

@font-face{
	font-family: playfair-black;
	src:url('../fonts/Playfair_Display/PlayfairDisplay-Black.ttf');
}

@font-face{
	font-family: playfair-blackitalic;
	src:url('../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf');
}

@font-face{
	font-family: playfair-bold;
	src:url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf');
}

@font-face{
	font-family: playfair-BoldItalic;
	src:url('../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf');
}

@font-face{
	font-family: playfair-regular;
	src:url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

