<!DOCTYPE html>
<html lang="en">
	<head>
		@include('layouts.head')
		@!section('meta')
		@!section('css')
		@!section('title')
		<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	</head>
	<body>
		<header class="header " id="header">
			<div class="container">
				<a href="index.html" class="f-left logo-top logo d-flex flex-center text-decoration-n  text-primary">
					<img src="./assets/images/logo-only.svg" alt="" class="f-left">
					<span class="f-17 f-playfair" id="logo-text">YouthSpace</span>
				</a>
				<ul class="nav f-left">
					@!section('nav-list')
				</ul>
				<ul class="nav-right f-right">
					
					<li class="popup-trigger pos-r language">
						<img src="./assets/images/indo-flag.svg" class="flag-lang" alt="">
						<img src="./assets/images/chevron-right.svg" alt="">
						<div class="popup-content d-none pos-a bring-front">
							<div class="bg-white flags">
								<a href="/en/">
									<img src="./assets/images/en.svg" alt="">
									EN
								</a>
								<a href="">
									<img src="./assets/images/indo-flag.svg" alt="">
									ID
								</a>
								
							</div>
						</div>
					</li>
					<li class="popup-trigger" id="profile-picture">
						<img src="./assets/images/userprofile.svg" alt="">
						<div class="popup-content d-none pos-a bring-front popup-profile">
							<div class="bg-white list">
								<ul>
									<li>
										<a href="">Amanda Aprilia</a>
									</li>
									<li>
										<a href="">Akun</a>
									</li>
									<li>
										<a href="">Pesan</a>
									</li>
									<li>
										<a href="">Pengaturan</a>
									</li>
									<li class="d-flex">
										<a href="/login.html" class="w-100">Keluar</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
				 <div class="hamburger f-left" id="hamburger-11">
		          <span class="line"></span>
		          <span class="line"></span>
		          <span class="line"></span>
		        </div>
			</div>
		</header>
		<div class="navbar-dropdown pos-f bring-front bg-white">
			<div class="first-item f-lato ">
					<a href="" class=" d-flex align-items-center">
						<img src="./assets/images/user-profile-1.png" alt="">
						<span>Amanda Aprilia</span>
					</a>
				</div>
			<ul class="f-lato list-style-none nicescroll">
				<li class="list-item"><a href="">Akun</a></li>
				<li class="list-item"><a href="">Notifikasi</a></li>
				<li class="list-item"><a href="">Pesan</a></li>
				<li class="list-item"><a href="news.html">Berita</a></li>
				<li class="list-item"><a href="diskusi.html">Diskusi</a></li>
				<li class="list-item"><a href="inspirasi.html">Inspirasi</a></li>
				<li class="list-item"><a href="about.html">Tentang kami</a></li>
				<li class="list-item"><a href="gallery.html">Galeri</a></li>
				<li class="list-item"><a href="">Pengaturan</a></li>
				<li class="list-item"><a href="">Ini bendera</a></li>
				<li class="list-item"><a href="login.html">Keluar</a></li>
			</ul>
		</div>
		@!section('content')
		<footer class="footer w-100 d-flex">
			<div class="box-blue last-box"></div>
			<div class="container">
				<div class="inner-footer">
					<div class="f-left footer-desc">
						<div class="logo">
							<a href="index.html" class="text-decoration-n d-flex">
								<div class="d-flex flex-center">
									<img src="./assets/images/logo-only.svg" alt="">
									<span class="f-17 f-playfair mt-0 text-primary" id="logo-text">YouthSpace</span>
								</div>
							</a>
						</div>
						<p>Untuk membantu menghadapi tantangan dengan cara berdiskusi dan juga mendapatkan inspirasi beserta berita berita terbaru seputar generasi milenial di masa kini</p>
						<ul class="horizontal-list social-media">
							<li><a href=""><img src="./assets/images/facebook.svg" alt=""></a></li>
							<li><a href="https://instgram.com/frastio10"><img src="./assets/images/instagram.svg" alt=""></a></li>
							<li><a href=""><img src="./assets/images/twitter.svg" alt=""></a></li>
							<li><a href=""><img src="./assets/images/youtube.svg" alt=""></a></li>
						</ul>
					</div>
					<div class="f-left footer-list">
						<b class="f-lato">Navbar</b>
						<ul class="no-decoration list-style-none">
							
							<li><a href="news.html">Berita</a></li>
							<li><a href="diskusi.html">Diskusi</a></li>
							<li><a href="inspirasi.html">Inspirasi</a></li>
							<li><a href="gallery.html">Galeri</a></li>
						</ul>
					</div>
					<div class="f-left footer-list">
						<b class="f-lato">Lainnya</b>
						<ul class="no-decoration list-style-none">
							
							<li><a href="account.html">Akun</a></li>
							<li><a href="">Bahasa</a></li>
							<li><a href="about.html">Tentang</a></li>
							<li><a href="">App</a></li>
							
						</ul>
					</div>
					<div class="f-left footer-desc footer-desc-left">
						
							<span class="f-lato">Untuk tetap terhubung</span>
							<p>Masuk untuk mendapatkan berita terbaru dan diskusikan mengenai tatangan </p>
							<a href="#" class="btn btn-blue">Alamat email</a>
					</div>
					<span class="line-h"></span>
					<span class="f-13 mt-40 f-lato f-left made-by">&#169; 2019 Youthspace By Bernice Team</span>
				</div>

			</div>
		</footer>
	</body>
	@!section('component')
<script src="assets/js/jquery.js" type="text/javascript" ></script>
<script src="assets/js/jquery.lazy.min.js"></script>
<script>
	 $(function() {
        $('.lazy').Lazy();
        placeholder : "data:image/assets/images/loader.svg"
    });

	 $(document).ready(function(){
		  $(".hamburger").click(function(){
		    $(this).toggleClass("is-active");
		    $(".navbar-dropdown").toggleClass('actived');
		  });
		});


</script>
@!section('js')
<script src="assets/js/app.js" type="text/javascript" ></script>

</html>